<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.muker.Personal.dao.PersonalDao">
    <resultMap id="BaseResultMap" type="com.muker.Personal.entity.UserInfos">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="rid" property="rid" jdbcType="INTEGER"/>
        <result column="rusername" jdbcType="VARCHAR" property="rusername"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="sexs" jdbcType="INTEGER" property="sexs"/>
        <result column="idiograph" jdbcType="VARCHAR" property="idiograph"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="emailCode" jdbcType="VARCHAR" property="emailCode"/>

    </resultMap>

    <select id="selectUserByPhone" resultMap="BaseResultMap">
        select * from userinfos where  rusername=#{phone}
    </select>

    <select id="selectEmail" resultMap="BaseResultMap">
    select email from userinfos where email = #{email}
    </select>

    <update id="bindEmail" parameterType="com.muker.Personal.entity.UserInfos">
        update userinfos set email=#{email} where rusername= #{rusername} and emailCode=#{emailCode}
    </update>

    <insert id="insertEmailCode" parameterType="com.muker.Personal.entity.UserInfos">
        insert  into userinfos (email,emailCode) values (#{eamil},#{emailCode})
    </insert>
    <select id="selectShowUserByEmail" resultMap="BaseResultMap">
        select email from userinfos where email = #{email}
    </select>

    <update id="bindPhone" parameterType="com.muker.Personal.entity.UserInfos">
        update userinfos set phone=#{rusername} where id = #{uid}
    </update>

    <update id="cancelBindPhone" parameterType="com.muker.Personal.entity.UserInfos">
        update userinfos set rusername="" where rusername = #{phone}
    </update>

</mapper>